/*из бутстраповской темы*/

body>.navbar {
    -webkit-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in;
}

@media (min-width:768px) {
    body>.navbar-transparent {
        background-color: transparent;
    }

    body>.navbar-transparent .navbar-nav>.open>a {
        background-color: transparent !important;
    }
}

#home {
    padding-top: 0;
}

#home .navbar-brand {
    padding: 13.5px 15px 12.5px;
}

#home .navbar-brand>img {
    display: inline;
    margin: 0 10px;
    height: 100%;
}

#banner {
    min-height: 300px;
    border-bottom: none;
}

.page-header h1 {
    font-size: 4.2em;
}

.page-header h2 {
    font-size: 3.0em;
}

.bs-docs-section {
    margin-top: 0;
}

.bs-component {
    position: relative;
}

.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}

.bs-component .modal-dialog {
    width: 90%;
}

.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
}

#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700;
}

.nav-tabs {
    margin-bottom: 15px;
}

/*.progress {
    margin-bottom: 10px;
}
footer {
    margin: 5em 0;
}
footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
    margin-bottom: 0;
}*/

.splash {
    padding: 9em 0 2em;
    background-color: #141d27;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

.splash .logo {
    width: 160px;
}

.splash h1 {
    font-size: 3em;
}

.splash #social {
    margin: 2em 0;
}

.splash .alert {
    margin: 2em 0;
}

.section-tout {
    padding: 4em 0 3em;
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-color: #eaf1f1;
}

.section-tout .fa {
    margin-right: .5em;
}

.section-tout p {
    margin-bottom: 3em;
}

.section-preview {
    padding: 4em 0;
}

.section-preview .preview {
    margin-bottom: 4em;
    background-color: #eaf1f1;
}

.section-preview .preview .image {
    position: relative;
}

.section-preview .preview .image:before {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    pointer-events: none;
}

.section-preview .preview .options {
    padding: 1em 2em 2em;
    border: 1px solid rgba(0,0,0,.05);
    border-top: none;
    text-align: center;
}

.section-preview .preview .options p {
    margin-bottom: 2em;
}

.section-preview .dropdown-menu {
    text-align: left;
}

.section-preview .lead {
    margin-bottom: 2em;
}

@media (max-width:767px) {
    .section-preview .image img {
        width: 100%;
    }
}

.sponsor {
    text-align: center;
}

.sponsor a:hover {
    text-decoration: none;
}

@media (max-width:767px) {
    .splash {
        padding-top: 4em;
    }

    .splash .logo {
        width: 100px;
    }

    .splash h1 {
        font-size: 2em;
    }

    #banner {
        margin-bottom: 2em;
        text-align: center;
    }
}
/*конец кодов из бутстраповской темы*/

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}


/*   стили под level90   */
header {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 18px;
    height: 60px;
}

a.logo {
    background: url(../img/logo-sprite.png) no-repeat; /* Путь к файлу с исходным  рисунком */
    background-size: 128px 50px;
    display: inline-block;
    width: 64px; /* Ширина рисунка в пикселах */
    height: 50px; /* Высота рисунка */
    vertical-align: middle;
}
a.logo:hover {
    background-position: -64px 0; /* Смещение фона */
}
.company {
    margin-top: 22px;
    opacity: 0.5;
    margin-bottom: 30px;
}
.company a {
    padding: 13px;
    text-decoration: none;
    color: #7f7f7f;
}
.company:hover {
    opacity: 1;
}
.alerts {
    margin-top: 35px;
}
/* Left Menu Btn */
.menu-btn {
    margin-top: 22px;
    margin-bottom: 30px;
    background: #fff;
    color: #7f7f7f;
    text-align: right;
    opacity: 0.5;
}
.menu-btn:hover {
    background: #fff;
    opacity: 1;
}
.menu-btn img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 8px;
}
.menu-btn a {
    padding: 13px;
    text-decoration: none;
    color: #7f7f7f;
}
.menu-btn a:hover {
    color: #7f7f7f;
}

/*  end left menu  */

.content h2 {
    margin-bottom: 30px;
    margin-top: 50px;
}
.content h1 {
    margin-bottom: 50px;
}

/*   правая колонка и выноски   */

.factoid {
    text-align: center;
    padding: 14px;
    margin: auto;
}
.factoid img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}

.coins {
    margin-left:58px;
    padding-top: 16px;
    width: 120px;
    text-align: left;
    line-height: 1.2;
}
.coins span {
    padding-left: 7px;
    font-family: 'ProximaNova-reg', 'Proxima Nova', sans-serif;
    font-weight: 400;  
}

/*   конец правой колонки и выносок   */

.task {
    margin-top: 20px;
    line-height: 0.8;
    background-color: #f9f5e4;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
.task p {
    margin-bottom: 10px;
}
footer {
    margin-top: 200px;
    background-color: #ffffff;
    color: #CCCCCC;
    border-top: 1px solid #e4e4e4;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    left: 0;
}
.foottext p {
    font-weight: 200;
    margin-top: 22px;
    margin-bottom: 5px;
}
/*   стили соцкнопочек   */
.soclist {
    text-align: right;
}
ul.soclist {
    margin-top: 8px; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
ul.soclist li {
    display: inline;
    margin-right: 0px; /* Отступ слева */
    padding: 0px 13px; /* Поля вокруг текста */
}
.sprites { background: url(../img/social-sprite.png) no-repeat; }
.s_01:hover { width: 20px; height: 19px; background-position: 0 0; opacity: 1;}
.s_02:hover { width: 20px; height: 19px; background-position: 0 -19px; opacity: 1;}
.s_03:hover { width: 20px; height: 19px; background-position: 0 -38px; opacity: 1;}
.s_04:hover { width: 20px; height: 19px; background-position: 0 -57px; opacity: 1;}
.s_01 { width: 20px; height: 19px; background-position: 0 -76px; opacity: 0.5;}
.s_02 { width: 20px; height: 19px; background-position: 0 -95px; opacity: 0.5}
.s_03 { width: 20px; height: 19px; background-position: 0 -114px; opacity: 0.5}
.s_04 { width: 20px; height: 19px; background-position: 0 -133px; opacity: 0.5}

/*   конец соцкнопочек   */

/*   стили странички profile.html   */

.well p {
    margin-top: 30px;
    margin-bottom: 8px;
}
.well legend {
    margin-top: 30px;
}

/*   конец стилей странички profile.html   */